:root {
  --color-pageBackground: #0a0e14;
  --color-pageBackgroundModalActive: #0d1118;
  --color-pageBackgroundTopLeft: #0d1118;
  --color-pageBackgroundBottomRight: #0a0e14;
  --color-pageBackgroundLineTop: #5ad4e6;
  --color-pageBackgroundLineMid: #1d2330;
  --color-pageBackgroundLineBottom: #101521;
  --color-pageText: #f7f1ff;
  --color-pageTextLight: #d7d7d7;
  --color-pageTextSubdued: #88898f;
  --color-pageTextDark: #f7f1ff;
  --color-pageTextPositive: #7bd88f;
  --color-pageTextLink: #af98e6;
  --color-pageTextLinkLight: #c3b5d3;

  --color-cardBackground: #101521;
  --color-cardBorder: #2a3242;
  --color-cardShadow: #0a0e14;

  --color-tableBackground: #0d1118;
  --color-tableRowBackgroundAlternate: var(--color-tableBackground);
  --color-tableRowBackgroundHover: #141a26;
  --color-tableText: #f7f1ff;
  --color-tableTextLight: #f7f1ff;
  --color-tableTextSubdued: #88898f;
  --color-tableTextSelected: #f7f1ff;
  --color-tableTextHover: #bab6c0;
  --color-tableTextInactive: #88898f;
  --color-tableHeaderText: #bab6c0;
  --color-tableHeaderBackground: #101521;
  --color-tableBorder: #1d2330;
  --color-tableBorderSelected: #af98e6;
  --color-tableBorderHover: #c3b5d3;
  --color-tableBorderSeparator: #1d2330;
  --color-tableRowBackgroundHighlight: #141a26;
  --color-tableRowBackgroundHighlightText: #f7f1ff;
  --color-tableRowHeaderBackground: #101521;
  --color-tableRowHeaderText: #f7f1ff;

  --color-numberPositive: #7bd88f;
  --color-numberNegative: #fc618d;
  --color-numberNeutral: #88898f;
  --color-budgetNumberNegative: #fc618d;
  --color-budgetNumberZero: #88898f;
  --color-budgetNumberNeutral: #f7f1ff;
  --color-budgetNumberPositive: #7bd88f;
  --color-templateNumberFunded: #7bd88f;
  --color-templateNumberUnderFunded: #fd9353;
  --color-toBudgetPositive: #7bd88f;
  --color-toBudgetZero: #7bd88f;
  --color-toBudgetNegative: #fc618d;

  --color-sidebarBackground: #0d1118;
  --color-sidebarItemBackgroundPending: #fd9353;
  --color-sidebarItemBackgroundPositive: #7bd88f;
  --color-sidebarItemBackgroundFailed: #fc618d;
  --color-sidebarItemAccentSelected: #5ad4e6;
  --color-sidebarItemBackgroundHover: #141a26;
  --color-sidebarItemText: #bab6c0;
  --color-sidebarItemTextSelected: #5ad4e6;
  --color-sidebarBudgetName: #f7f1ff;

  --color-menuBackground: #0d1118;
  --color-menuItemBackground: #0d1118;
  --color-menuItemBackgroundHover: #2a3242;
  --color-menuItemText: #f7f1ff;
  --color-menuItemTextHover: #f7f1ff;
  --color-menuItemTextSelected: #af98e6;
  --color-menuItemTextHeader: #c3b5d3;
  --color-menuBorder: #1d2330;
  --color-menuBorderHover: #af98e6;
  --color-menuKeybindingText: #c3b5d3;
  --color-menuAutoCompleteBackground: #0a0e14;
  --color-menuAutoCompleteBackgroundHover: #141a26;
  --color-menuAutoCompleteText: #d7d7d7;
  --color-menuAutoCompleteTextHeader: #c3b5d3;
  --color-menuAutoCompleteItemText: #f7f1ff;

  --color-modalBackground: #0d1118;
  --color-modalBorder: #1d2330;
  --color-mobileHeaderBackground: #101521;
  --color-mobileHeaderText: #f7f1ff;
  --color-mobileHeaderTextSubdued: #88898f;
  --color-mobileHeaderTextHover: #f7f1ff26;
  --color-mobilePageBackground: #0a0e14;
  --color-mobileNavBackground: #0d1118;
  --color-mobileNavItem: #bab6c0;
  --color-mobileNavItemSelected: #af98e6;
  --color-mobileAccountShadow: #0a0e14;
  --color-mobileAccountText: #5ad4e6;
  --color-mobileTransactionSelected: #af98e6;
  --color-mobileViewTheme: #101521;
  --color-mobileConfigServerViewTheme: #af98e6;

  --color-markdownNormal: #af98e6;
  --color-markdownDark: #af98e6;
  --color-markdownLight: #c3b5d3;

  --color-buttonMenuText: #d7d7d7;
  --color-buttonMenuTextHover: #f7f1ff;
  --color-buttonMenuBackground: transparent;
  --color-buttonMenuBackgroundHover: #f7f1ff26;
  --color-buttonMenuBorder: #88898f;
  --color-buttonMenuSelectedText: #7bd88f;
  --color-buttonMenuSelectedTextHover: #fd9353;
  --color-buttonMenuSelectedBackground: #0d1118;
  --color-buttonMenuSelectedBackgroundHover: #141a26;
  --color-buttonMenuSelectedBorder: #0d1118;

  --color-buttonPrimaryText: #0a0e14;
  --color-buttonPrimaryTextHover: #0a0e14;
  --color-buttonPrimaryBackground: #af98e6;
  --color-buttonPrimaryBackgroundHover: #c3b5d3;
  --color-buttonPrimaryBorder: #af98e6;
  --color-buttonPrimaryShadow: #00000066;
  --color-buttonPrimaryDisabledText: #88898f;
  --color-buttonPrimaryDisabledBackground: #2a3242;
  --color-buttonPrimaryDisabledBorder: #2a3242;

  --color-buttonNormalText: #f7f1ff;
  --color-buttonNormalTextHover: #f7f1ff;
  --color-buttonNormalBackground: #101521;
  --color-buttonNormalBackgroundHover: #141a26;
  --color-buttonNormalBorder: #2a3242;
  --color-buttonNormalShadow: #0000004d;
  --color-buttonNormalSelectedText: #0a0e14;
  --color-buttonNormalSelectedBackground: #af98e6;
  --color-buttonNormalDisabledText: #88898f;
  --color-buttonNormalDisabledBackground: #0d1118;
  --color-buttonNormalDisabledBorder: #1d2330;

  --color-calendarText: #f7f1ff;
  --color-calendarBackground: #0a0e14;
  --color-calendarItemText: #f7f1ff;
  --color-calendarItemBackground: #101521;
  --color-calendarSelectedBackground: #af98e6;

  --color-buttonBareText: #f7f1ff;
  --color-buttonBareTextHover: #f7f1ff;
  --color-buttonBareBackground: transparent;
  --color-buttonBareBackgroundHover: #f7f1ff26;
  --color-buttonBareBackgroundActive: #f7f1ff4d;
  --color-buttonBareDisabledText: #88898f;
  --color-buttonBareDisabledBackground: transparent;

  --color-noticeBackground: #7bd88f26;
  --color-noticeBackgroundLight: #7bd88f19;
  --color-noticeBackgroundDark: #7bd88f33;
  --color-noticeText: #7bd88f;
  --color-noticeTextLight: #7bd88f;
  --color-noticeTextDark: #7bd88f;
  --color-noticeTextMenu: #7bd88f;
  --color-noticeBorder: #7bd88f;

  --color-warningBackground: #fd935326;
  --color-warningText: #fd9353;
  --color-warningTextLight: #fd9353;
  --color-warningTextDark: #fd9353;
  --color-warningBorder: #fd9353;

  --color-errorBackground: #fc618d26;
  --color-errorText: #fc618d;
  --color-errorTextDark: #fc618d;
  --color-errorTextDarker: #fc618d;
  --color-errorTextMenu: #fc618d;
  --color-errorBorder: #fc618d;

  --color-upcomingBackground: #a86efd;
  --color-upcomingText: #0a0e14;
  --color-upcomingBorder: #1d2330;

  --color-formLabelText: #c3b5d3;
  --color-formLabelBackground: #0d1118;
  --color-formInputBackground: #0d1118;
  --color-formInputBackgroundSelected: #141a26;
  --color-formInputBackgroundSelection: #af98e6;
  --color-formInputBorder: #2a3242;
  --color-formInputTextReadOnlySelection: #0d1118;
  --color-formInputBorderSelected: #af98e6;
  --color-formInputText: #f7f1ff;
  --color-formInputTextSelected: #0a0e14;
  --color-formInputTextPlaceholder: #88898f;
  --color-formInputTextPlaceholderSelected: #bab6c0;
  --color-formInputTextSelection: #0d1118;
  --color-formInputShadowSelected: #c3b5d3;
  --color-formInputTextHighlight: #af98e6;

  --color-checkboxText: #0a0e14;
  --color-checkboxBackgroundSelected: #5ad4e6;
  --color-checkboxBorderSelected: #5ad4e6;
  --color-checkboxShadowSelected: #5ad4e64d;
  --color-checkboxToggleBackground: #2a3242;
  --color-checkboxToggleBackgroundSelected: #5ad4e6;
  --color-checkboxToggleDisabled: #1d2330;

  --color-pillBackground: #101521;
  --color-pillBackgroundLight: #0d1118;
  --color-pillText: #bab6c0;
  --color-pillTextHighlighted: #c3b5d3;
  --color-pillBorder: #2a3242;
  --color-pillBorderDark: #2a3242;
  --color-pillBackgroundSelected: #af98e6;
  --color-pillTextSelected: #0a0e14;
  --color-pillBorderSelected: #af98e6;
  --color-pillTextSubdued: #88898f;

  --color-reportsRed: #fc618d;
  --color-reportsBlue: #5ad4e6;
  --color-reportsGreen: #7bd88f;
  --color-reportsGray: #88898f;
  --color-reportsLabel: #f7f1ff;
  --color-reportsInnerLabel: #0d1118;
  --color-reportsNumberPositive: #7bd88f;
  --color-reportsNumberNegative: #fc618d;
  --color-reportsNumberNeutral: #88898f;
  --color-reportsChartFill: #7bd88f;

  --color-noteTagBackground: #a86efd;
  --color-noteTagBackgroundHover: #af98e6;
  --color-noteTagDefault: #a86efd;
  --color-noteTagText: #0a0e14;

  --color-budgetOtherMonth: #0a0e14;
  --color-budgetCurrentMonth: #0d1118;
  --color-budgetHeaderOtherMonth: #0d1118;
  --color-budgetHeaderCurrentMonth: #101521;

  --color-floatingActionBarBackground: #101521;
  --color-floatingActionBarBorder: #101521;
  --color-floatingActionBarText: #f7f1ff;

  --color-tooltipText: #f7f1ff;
  --color-tooltipBackground: #0d1118;
  --color-tooltipBorder: #2a3242;

  --color-calendarCellBackground: #0a0e14;

  --color-overlayBackground: #00000080;

  --color-chartQual1: #af98e6;
  --color-chartQual2: #5ad4e6;
  --color-chartQual3: #7bd88f;
  --color-chartQual4: #fc618d;
  --color-chartQual5: #fd9353;
  --color-chartQual6: #e3cf65;
  --color-chartQual7: #c3b5d3;
  --color-chartQual8: #a86efd;
  --color-chartQual9: #5ad4e6;
}
