.boody {


	background-color: aliceblue;
	background: #0f111a;
	background1: #0e0f15;
	color: #FFF;
	cyan: #51c7da;
	dim: #777777;
	extradim: #333333;
	flurogreen: #47E4BB;
	goldyellow: #E6E56C;
	green: #64E291;
	lightblue: #7cb7ff;
	lightgreen: #76c5a4;
	lightorange: #fdad5d;
	lightpink: #fb7da7;
	lightpurple: #af98e6;
	lightyellow: #e3cf65;
	orange: #FEC771;
	peach: #FF9C91;
	purple: #9b76ff;
	redpink: #f92672;













